<div>
  <div class="row">
    <div class="col-sm-6">
      <h5 class="card-title">Author: {{quote.author}}</h5>
      <p class="card-text">Quote Created {{quote.date|dateCount}}</p>
    </div>
    <div class="col-sm-6">
      <div class="like grow">
        <a class="card-link"><i (click)='upVote()' class="fa fa-thumbs-up fa-2x like">{{quote.like}}</i></a>
      </div>
      <div class="dislike grow">
        <a class="card-link"><i  (click) = 'downVote()' class="fa fa-thumbs-down fa-2x dislike">{{quote.dislike}}</i></a>
      </div>
    </div>
  </div><p></p>
    <button type="button" class="btn btn-success"  (click) = 'deleteQuote(true)'>Delete</button>
    
</div>
  
  

