<div>
  <div class="row">
    <div class="col-sm-6">
      <h5 class="card-title">Author: {{quote.author}}</h5>
      <p class="card-text">Quote created data ago</p>
    </div>
    <div class="col-sm-6">
      <a class="card-link"><i (click)='upVote()' class="fa fa-thumbs-up fa-2x">{{quote.like}}</i></a>
      <a class="card-link"><i  (click) = 'downVote()' class="fa fa-thumbs-down fa-2x">{{quote.dislike}}</i></a>
    </div>
  </div><p></p>
    <button type="button" class="btn btn-success"  (click) = 'deleteQuote(true)'>Delete</button>
    
</div>
  
  

<!-- 
    <div class="rating">
      Thumbs up 
    <div class="like grow">
      <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></i>
    </div>
    Thumbs down 
    <div class="dislike grow">
      <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
    </div>
  </div>
   -->
